<!DOCTYPE html>
<html lang=”ja”>
<head>
<meta charset=”UTF-8″>
</head>
<body>
    <title>旅行ガチャ</title>

    <div style="text-align: center">
        <span><font color="blue" style="align-content: center;"><h2>候補がないよ！</h2><font></span>
        <div style="padding: 48px;">
            <!-- 画像 -->
            <img src="images/globe.gif">
        </div>
        <div style="padding: 16px;"/>
        <form>
            <button
                formaction="/retry"
                formmethod="GET"
                type="submit"
                style="width: 50%; height: 64px; font-size: xx-large; border-radius: 24px;">
                候補を入れる
            </button>
        </form>
    </div>
</body>
</html>
